# Konten

### Pendahuluan

## Tahap 1. Ikhtisar Data
- Kesimpulan

## Tahap 2. Pra-pemrosesan Data
- 2.1 Gaya penulisan judul
- 2.2 Nilai-nilai yang hilang
- 2.3 Duplikat
- 2.4 Kesimpulan

## Tahap 3. Menguji Hipotesis
- 3.1 Hipotesis 1: aktivitas pengguna di dua kota
- 3.2 Hipotesis 2: preferensi musik pada hari Senin dan Jumat
- 3.3 Hipotesis 3: preferensi genre di kota Springfield dan Shelbyville

## Temuan

# Pendahuluan

Kita akan membandingkan preferensi musik kota Springfield dan Shelbyville. Kita akan mempelajari data Y.Music yang sebenarnya untuk menguji hipotesis di bawah ini dan membandingkan perilaku pengguna di kedua kota ini.

**Tujuan:**
Menguji tiga hipotesis:

1. Aktivitas pengguna berbeda-beda tergantung pada hari dan kotanya.
2. Pada senin pagi, penduduk Springfield dan Shelbyville mendengarkan genre yang berbeda. Hal ini juga ini juga berlaku untuk Jumat malam.
3. Pendengar di Springfield dan Shelbyville memiliki preferensi yang berbeda. Di Springfield, mereka lebih suka musik pop, sementara Shelbyville, musik rap memiliki lebih banyak penggemar.

**Tahapan:**
Data tentang perilaku pengguna disimpan dalam berkas `/datasets/music_project_en.csv`. 

Pertama, Kita akan mengevaluasi kualitas data dan melihat apakah masalahnya signifikan. Kemudian, selama pra-pemrosesan data, Kita akan mencoba memperhitungkan masalah yang paling serius.

Proyek ini akan terdiri dari tiga tahap:

1. Ikhtisar Data
2. Pra-pemrosesan Data
3. Menguji Hipotesis

# Tahap 1: Ikhtisar Data

In [ ]:
#mengimpor data
import pandas as pd

In [ ]:
# membaca berkas dan menyimpannya ke df
df = pd.read_csv('music_project_en.csv')

In [ ]:
# memperoleh informasi umum tentang data di df
df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  08:14:07  Friday
freq          76    136        136   8850        45360        14   23149

In [ ]:
# Tampilkan 10 baris tabel pertama
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

In [ ]:
# Tampilkan 10 baris tabel terakhir
df.tail(10)

,userID,Track,artist,genre,City,time,Day
65069,BE1AAD74,Waterwalk,Eduardo Gonzales,electronic,Springfield,20:38:59,Monday
65070,49F35D53,Ass Up,Rameez,dance,Springfield,14:08:58,Friday
65071,92378E24,Swing it Like You Mean it,OJOJOJ,techno,Springfield,21:12:56,Friday
65072,C532021D,We Can Not Be Silenced,Pänzer,extrememetal,Springfield,08:38:24,Friday
65073,83A474E7,I Worship Only What You Bleed,The Black Dahlia Murder,extrememetal,Springfield,21:07:12,Monday
65074,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday
65076,C5E3A0D5,Jalopiina,NaN,industrial,Springfield,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

In [ ]:
# memperoleh informasi umum tentang data di df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

Tabel ini berisi tujuh kolom. Semuanya menyimpan tipe data yang sama, yaitu: objek.

Berdasarkan dokumentasi:

- `userID` — pengenal pengguna
- `Track` — judul trek
- `artist` — nama artis
- `genre`
- `City` — kota tempat pengguna berada
- `time` — lama waktu lagu tersebut dimainkan
- `Day` — nama hari

Kita dapat melihat tiga masalah dengan gaya penulisan nama kolom:

- Beberapa nama huruf besar, beberapa huruf kecil.
- Ada penggunaan spasi pada beberapa nama.
- Ada nama yang memiliki beberapa kata namun digabung dalam satu kata dengan penggabungan huruf kecil dan huruf besar.
- Jumlah nilai kolom berbeda. Ini berarti data mengandung nilai yang hilang.

**Kesimpulan**

Setiap baris dalam tabel menyimpan data pada lagu yang dimainkan. Beberapa kolom menggambarkan lagu itu sendiri: judul, artis, dan genre. Sisanya menyampaikan informasi tentang pengguna: kota asal mereka, waktu mereka memutar lagu.

Jelas bahwa data tersebut cukup untuk menguji hipotesis. Namun, ada nilai-nilai yang hilang.

Selanjutnya, kita perlu melakukan pra-pemrosesan data terlebih dahulu.

# Tahap 2: Pra-pemrosesan Data

## Gaya Penulisan Judul

In [ ]:
# 1. Gaya Penulisan Judul 

# daftar nama kolom di tabel df
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Kita akan mengubah nama kolom sesuai dengan aturan gaya penulisan yang baik:

- Jika nama memiliki beberapa kata, gunakan snake_case
- Semua karakter harus menggunakan huruf kecil
- Hapus spasi

In [ ]:
# mengganti nama kolom
df = df.rename(
    columns={
      '  userID': 'user_id',
      'Track': 'track',
      '  City  ': 'city',
      'Day': 'day',
    }
)

In [ ]:
# hasil pengecekan: daftar nama kolom
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

## Nilai-Nilai yang Hilang

In [ ]:
# 2. Nilai-Nilai yang Hilang
# menghitung nilai yang hilang
df.isna().sum()

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

Ganti nilai yang hilang pada `track`, `artist`, dan `genre` dengan string `unknown`. Untuk melakukannya, kita akan membuat list `columns_to_replace`, kemudian melakukan loop dengan `for`, dan ganti nilai yang hilang di setiap kolom.

In [ ]:
# loop nama kolom dan ganti nilai yang hilang dengan 'unknown'
column_to_replace = ['track', 'artist', 'genre']

# cara pertama
for column in column_to_replace:
    df.loc[df[column].isna(), column] = 'unknown'

In [ ]:
# menghitung kembali nilai yang hilang
df.isna().sum()

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

## Data Duplikat

In [ ]:
# 3. Duplikat
# menghitung duplikat yang jelas
df.duplicated().sum()

3826

In [ ]:
# menghapus duplikat yang jelas
df = df.drop_duplicates().reset_index(drop=True) # untuk melakukan reset ulang pada index yang terbentuk

In [ ]:
# melihat kembali table df
df.head()

,user_id,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday

In [ ]:
# memeriksa kembali duplikat
df.duplicated().sum()

0

Selanjutnya kita akan menghapus duplikat implisit di kolom genre. Misalnya, nama genre dapat ditulis dengan cara yang berbeda. Kesalahan seperti ini juga akan memengaruhi hasil.

In [ ]:
# duplikat implisit
# melihat nama genre yang unik
df1 = df.sort_values('genre')
df2 = df1['genre'].unique()
df2

array(['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans',
       'alternative', 'ambient', 'americana', 'animated', 'anime',
       'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook',
       'avantgarde', 'axé', 'baile', 'balkan', 'beats', 'bigroom',
       'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian',
       'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop',
       'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber',
       'children', 'chill', 'chinese', 'choral', 'christian', 'christmas',
       'classical', 'classicmetal', 'club', 'colombian', 'comedy',
       'conjazz', 'contemporary', 'country', 'cuban', 'dance',
       'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock',
       'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat',
       'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy',
       'electronic', 'electropop', 'emo', 'entehno', 'epicmetal',
       'estrada', 'ethnic', 'eurofolk', 'european', 'experimental',
       'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk',
       'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forró',
       'frankreich', 'französisch', 'french', 'funk', 'future', 'gangsta',
       'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel',
       'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy",
       'hardcore', 'hardstyle', 'hardtechno', 'hip', 'hip-hop', 'hiphop',
       'historisch', 'holiday', 'hop', 'horror', 'house', 'idm',
       'independent', 'indian', 'indie', 'indipop', 'industrial',
       'inspirational', 'instrumental', 'international', 'irish', 'jam',
       'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop',
       'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin',
       'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic',
       'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative',
       'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican',
       'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb',
       'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage',
       'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera',
       'orchestral', 'other', 'piano', 'pop', 'popelectronic',
       'popeurodance', 'post', 'posthardcore', 'postrock', 'power',
       'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk',
       'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae',
       'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm',
       'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop',
       'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self',
       'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow',
       'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern',
       'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf',
       'swing', 'synthpop', 'sängerportrait', 'tango', 'tanzorchester',
       'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional',
       'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical',
       'türk', 'türkçe', 'unknown', 'urban', 'uzbek', 'variété', 'vi',
       'videogame', 'vocal', 'western', 'world', 'worldbeat', 'ïîï'],
      dtype=object)

Kita melihat duplikat implisit berikut:

- hip
- hop
- hip-hop

Untuk menghapusnya, gunakan fungsi `replace_wrong_genres()` dengan dua parameter:

`wrong_genres` = — daftar duplikat

`correct_genre` = — string dengan nilai yang benar

In [ ]:
# fungsi untuk mengganti duplikat implisit
def replace_wrong_genres(wrong_genres, correct_genre):
    for wrong_genre in wrong_genres:
        df['genre'] = df['genre'].replace(wrong_genres, correct_genre)

In [ ]:
# menghapus duplikat implisit
duplicates = ['hip', 'hop', 'hip-hop']
genre = 'hiphop'
replace_wrong_genres(duplicates, genre)

In [ ]:
# memeriksa duplikat implisit
df1 = df.sort_values('genre')
df2 = df1['genre'].unique()
df2

array(['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans',
       'alternative', 'ambient', 'americana', 'animated', 'anime',
       'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook',
       'avantgarde', 'axé', 'baile', 'balkan', 'beats', 'bigroom',
       'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian',
       'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop',
       'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber',
       'children', 'chill', 'chinese', 'choral', 'christian', 'christmas',
       'classical', 'classicmetal', 'club', 'colombian', 'comedy',
       'conjazz', 'contemporary', 'country', 'cuban', 'dance',
       'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock',
       'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat',
       'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy',
       'electronic', 'electropop', 'emo', 'entehno', 'epicmetal',
       'estrada', 'ethnic', 'eurofolk', 'european', 'experimental',
       'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk',
       'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forró',
       'frankreich', 'französisch', 'french', 'funk', 'future', 'gangsta',
       'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel',
       'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy",
       'hardcore', 'hardstyle', 'hardtechno', 'hiphop', 'historisch',
       'holiday', 'horror', 'house', 'idm', 'independent', 'indian',
       'indie', 'indipop', 'industrial', 'inspirational', 'instrumental',
       'international', 'irish', 'jam', 'japanese', 'jazz', 'jewish',
       'jpop', 'jungle', 'k-pop', 'karadeniz', 'karaoke', 'kayokyoku',
       'korean', 'laiko', 'latin', 'latino', 'leftfield', 'local',
       'lounge', 'loungeelectronic', 'lovers', 'malaysian', 'mandopop',
       'marschmusik', 'meditative', 'mediterranean', 'melodic', 'metal',
       'metalcore', 'mexican', 'middle', 'minimal', 'miscellaneous',
       'modern', 'mood', 'mpb', 'muslim', 'native', 'neoklassik', 'neue',
       'new', 'newage', 'newwave', 'nu', 'nujazz', 'numetal', 'oceania',
       'old', 'opera', 'orchestral', 'other', 'piano', 'pop',
       'popelectronic', 'popeurodance', 'post', 'posthardcore',
       'postrock', 'power', 'progmetal', 'progressive', 'psychedelic',
       'punjabi', 'punk', 'quebecois', 'ragga', 'ram', 'rancheras', 'rap',
       'rave', 'reggae', 'reggaeton', 'regional', 'relax', 'religious',
       'retro', 'rhythm', 'rnb', 'rnr', 'rock', 'rockabilly', 'romance',
       'roots', 'ruspop', 'rusrap', 'rusrock', 'salsa', 'samba',
       'schlager', 'self', 'sertanejo', 'shoegazing', 'showtunes',
       'singer', 'ska', 'slow', 'smooth', 'soul', 'soulful', 'sound',
       'soundtrack', 'southern', 'specialty', 'speech', 'spiritual',
       'sport', 'stonerrock', 'surf', 'swing', 'synthpop',
       'sängerportrait', 'tango', 'tanzorchester', 'taraftar', 'tech',
       'techno', 'thrash', 'top', 'traditional', 'tradjazz', 'trance',
       'tribal', 'trip', 'triphop', 'tropical', 'türk', 'türkçe',
       'unknown', 'urban', 'uzbek', 'variété', 'vi', 'videogame', 'vocal',
       'western', 'world', 'worldbeat', 'ïîï'], dtype=object)

**Kesimpulan**

Kita mendeteksi tiga masalah dengan data:

- Gaya penulisan judul yang salah
- Nilai-nilai yang hilang
- Duplikat yang jelas dan implisit

Judul kolom telah dibersihkan untuk mempermudah pemrosesan tabel.

Semua nilai yang hilang telah diganti dengan 'unknown'. Tapi kita masih harus melihat apakah nilai yang hilang dalam 'genre' akan memengaruhi perhitungan kita.

Tidak adanya duplikat akan membuat hasil lebih tepat dan lebih mudah dipahami.

Sekarang kita dapat melanjutkan ke pengujian hipotesis.

# Tahap 3. Menguji Hipotesis

### Hipotesis 1: Membandingkan Perilaku Pengguna di Dua Kota

Menurut hipotesis pertama, pengguna dari Springfield dan Shelbyville memiliki perbedaan dalam mendengarkan musik. Pengujian ini menggunakan data pada hari: Senin, Rabu, dan Jumat.

- Pisahkan pengguna ke dalam kelompok berdasarkan kota.
- Bandingkan berapa banyak lagu yang dimainkan setiap kelompok pada hari Senin, Rabu, dan Jumat.

In [ ]:
# Menghitung lagu yang diputar di setiap kota
df.groupby('city').count()['track']

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64

In [ ]:
# membagi data berdasarkan kota
track_by_city = df.groupby('city').count()['track']
track_by_city

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64

Springfield memiliki lebih banyak lagu yang dimainkan daripada Shelbyville. Namun bukan berarti warga Springfield lebih sering mendengarkan musik. Kota ini lebih besar, dan memiliki lebih banyak pengguna.

Sekarang kelompokkan data menurut hari dan temukan jumlah lagu yang diputar pada hari Senin, Rabu, dan Jumat.

In [ ]:
# Menghitung trek yang diputar pada masing-masing hari
df.groupby('day').count()['track']

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

In [ ]:
# membagi data berdasarkan hari
track_by_day = df.groupby('day').count()['track']
track_by_day

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

Rabu adalah hari paling tenang secara keseluruhan. Tetapi jika kita mempertimbangkan kedua kota secara terpisah, kita mungkin akan memiliki kesimpulan yang berbeda.

Selanjutnya kita akan menulis fungsi yang akan dikelompokkan berdasarkan kota dan hari.

Fungsinya adalah `number_tracks()` untuk menghitung jumlah lagu yang diputar untuk hari dan kota tertentu. Ini akan membutuhkan dua parameter:

1. nama hari
2. nama kota

Dalam fungsi, gunakan variabel untuk menyimpan baris dari tabel asli, di mana:

- Nilai kolom 'day' sama dengan parameter day
- Nilai kolom 'city' sama dengan parameter city

Terapkan pemfilteran berurutan dengan pengindeksan logis.

Kemudian hitung nilai kolom 'user_id' pada tabel yang dihasilkan. Simpan hasilnya ke variabel baru. Kembalikan variabel ini dari fungsi.

In [ ]:
# <membuat fungsi number_tracks()>
# Kita akan mendeklarasikan sebuah fungsi dengan dua parameter: day=, city=.
# Biarkan variabel track_list menyimpan baris df di mana
# nilai di kolom 'day' sama dengan parameter day= dan, pada saat yang sama,
# nilai pada kolom 'city' sama dengan parameter city= (terapkan pemfilteran berurutan
# dengan pengindeksan logis).
# Biarkan variabel track_list_count menyimpan jumlah nilai kolom 'user_id' pada track_list
# (temukan dengan metode count()).
# Biarkan fungsi menghasilkan jumlah: nilai track_list_count.

def number_tracks(dataset, day, city):
    track_list = df.loc[(dataset['day']==day) & (dataset['city']==city)]
    track_list_count = track_list['user_id'].count()
    return track_list_count

Panggil `number_tracks()` enam kali dan ubahlah nilai parameternya, sehingga Anda bisa mengambil data di kedua kota untuk masing-masing hari tersebut.

In [ ]:
# jumlah lagu yang diputar di Springfield pada hari Senin
filtered_spr_monday = number_tracks(dataset=df, day='Monday', city='Springfield')
filtered_spr_monday

15740

In [ ]:
# jumlah lagu yang diputar di Shelbyville pada hari Senin
filtered_shel_monday = number_tracks(dataset=df, day='Monday', city='Shelbyville')
filtered_shel_monday

5614

In [ ]:
#  jumlah lagu yang diputar di Springfield pada hari Rabu
filtered_spr_wedn = number_tracks(dataset=df, day='Wednesday', city='Springfield')
filtered_spr_wedn

11056

In [ ]:
#  jumlah lagu yang diputar di Shelbyville pada hari Rabu
filtered_shel_wedn = number_tracks(dataset=df, day='Wednesday', city='Shelbyville')
filtered_shel_wedn

7003

In [ ]:
# jumlah lagu yang diputar di Springfield pada hari Jumat
filtered_spr_frid = number_tracks(dataset=df, day='Friday', city='Springfield')
filtered_spr_frid

15945

In [ ]:
# jumlah lagu yang diputar di Shelbyville pada hari Jumat
filtered_shel_frid = number_tracks(dataset=df, day='Friday', city='Shelbyville')
filtered_shel_frid

5895

In [ ]:
# Gunakan pd.DataFrame untuk membuat tabel, di mana:
    # Nama kolom adalah: ['city', 'monday', 'wednesday', 'friday']
    # Data adalah hasil yang Anda dapatkan dari number_tracks()

# tabel dengan hasil
music = [
    ['Springfield', 15740, 11056, 15945],
    ['Shelbyville', 5614, 7003, 5895],
]

entries = ['city', 'monday', 'wednesday', 'friday']

table_first_hypothesis = pd.DataFrame(data=music, columns=entries)
table_first_hypothesis

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

**Kesimpulan**

Data mengungkapkan perbedaan perilaku pengguna:
- Pada Springfield, jumlah lagu yang diputar mencapai puncaknya pada hari Senin dan Jumat, sedangkan pada hari Rabu terjadi penurunan aktivitas.
- Di Shelbyville, sebaliknya, pengguna lebih banyak mendengarkan musik pada hari Rabu.

Aktivitas pengguna pada hari Senin dan Jumat lebih sedikit.

### Hipotesis 2: Musik di Awal dan Akhir Minggu 

Menurut hipotesis kedua, pada Senin pagi dan Jumat malam, warga Springfield mendengarkan genre yang berbeda dari yang dinikmati warga Shelbyville.

In [ ]:
# Dapatkan tabel (pastikan nama tabel gabungan Anda cocok dengan DataFrame yang diberikan dalam dua blok kode di bawah):
    # Untuk Springfield — spr_general
    # Untuk Shelbyville — shel_general

# mendapatkan tabel spr_general dari baris df,
# dimana nilai dari kolom 'city' adalah 'Springfield'

spr_general = df.loc[(df['city']=='Springfield')]

In [ ]:
# mendapatkan shel_general dari baris df,
# dimana nilai dari kolom 'city' adalah 'Shelbyville'

shel_general = df.loc[(df['city']=='Shelbyville')]

Tulis fungsi `genre_weekday()` dengan empat parameter:

- Sebuah tabel untuk data
- Nama hari
- Tanda waktu pertama, dalam format 'hh:mm'
- Tanda waktu terakhir, dalam format 'hh: mm'

In [ ]:
# Mendeklarasikan fungsi genre_weekday() dengan parameter day=, time1=, dan time2=. Itu harus
# memberikan informasi tentang genre paling populer pada hari dan waktu tertentu:

# 1) Biarkan variabel genre_df menyimpan baris yang memenuhi beberapa ketentuan:
#    - nilai pada kolom 'day' sama dengan nilai argumen hari=
#    - nilai pada kolom 'time' lebih besar dari nilai argumen time1=
#    - nilai pada kolom 'time' lebih kecil dari nilai argumen time2=
#    Gunakan pemfilteran berurutan dengan pengindeksan logis.

# 2) Kelompokkan genre_df berdasarkan kolom 'genre', lalu ambil salah satu kolomnya,
#    dan gunakan metode count() untuk menemukan jumlah entri untuk masing-masing
#    genre yang diwakili; simpan Series yang dihasilkan ke
#    variabel genre_df_count

# 3) Urutkan genre_df_count dalam urutan menurun dan simpan hasilnya
#    ke variabel genre_df_sorted

# 4) Menghasilkan objek Series dengan nilai 15 genre_df_sorted pertama - 15 genre paling
#    populer (pada hari tertentu, dalam jangka waktu tertentu)

def genre_weekday(dataset, day, time1, time2):
    genre_df = dataset.loc[(dataset['day']==day) & (dataset['time']<time2) & (dataset['time']>time1)]
    genre_df1 = genre_df.groupby('genre')['genre'].count()
    genre_df2 = genre_df1.sort_values(ascending=False)
    return genre_df2[:15]

Bandingkan hasil fungsi `genre_weekday()` untuk Springfield dan Shelbyville pada: 
- Senin pagi (dari pukul 07.00 hingga 11.00) 
- Jumat malam (dari pukul 17:00 hingga 23:00)

In [ ]:
# memanggil fungsi untuk Senin pagi di Springfield (gunakan spr_general alih-alih tabel df)
filtered_spr_mon = genre_weekday(dataset=spr_general, day='Monday', time1='07.00.00', time2='11.00.00')
filtered_spr_mon

genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: genre, dtype: int64

In [ ]:
# memanggil fungsi untuk Senin pagi di Shelbyville (gunakan shel_general alih-alih tabel df)
filtered_shel_mon = genre_weekday(dataset=shel_general, day='Monday', time1='07.00.00', time2='11.00.00')
filtered_shel_mon

genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: genre, dtype: int64

In [ ]:
# memanggil fungsi untuk Jumat malam di Springfield
filtered_spr_fri = genre_weekday(dataset=spr_general, day='Friday', time1='17.00.00', time2='23.00.00')
filtered_spr_fri

genre
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
jazz           111
unknown        110
soundtrack     105
rnb             90
metal           88
Name: genre, dtype: int64

In [ ]:
# memanggil fungsi untuk Jumat malam di Shelbyville
filtered_shel_fri = genre_weekday(dataset=shel_general, day='Friday', time1='17.00.00', time2='23.00.00')
filtered_shel_fri

genre
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unknown         47
ruspop          47
soundtrack      40
metal           39
rap             36
Name: genre, dtype: int64

**Kesimpulan**

Setelah membandingkan 15 genre teratas pada Senin pagi, kita dapat menarik kesimpulan berikut:
1. Pengguna dari Springfield dan Shelbyville mendengarkan musik dengan genre yang sama. Lima genre teratas sama, hanya rock dan elektronik yang bertukar tempat.
2. Di Springfield, jumlah nilai yang hilang ternyata sangat besar sehingga nilai 'unknown' berada di urutan ke-10. Ini berarti bahwa nilai-nilai yang hilang memiliki jumlah data yang cukup besar, yang mungkin menjadi dasar untuk mempertanyakan ketepatan kesimpulan kita.

Untuk Jumat malam, situasinya serupa. Genre individu agak bervariasi, tetapi secara keseluruhan, 15 besar genre untuk kedua kota sama.

Dengan demikian, hipotesis kedua sebagian terbukti benar:
- Pengguna mendengarkan musik yang sama di awal dan akhir minggu
- Tidak ada perbedaan yang mencolok antara Springfield dan Shelbyville. Pada kedua kota tersebut, pop adalah genre yang paling populer.

Namun, jumlah nilai yang hilang membuat hasil ini dipertanyakan. Di Springfield, ada begitu banyak yang memengaruhi 15 teratas kita. Jika kita tidak mengabaikan nilai-nilai ini, hasilnya mungkin akan berbeda.

### Hipotesis 3: Preferensi Genre di Springfield dan Shelbyville 

Hipotesis: Shelbyville menyukai musik rap. Warga Springfield lebih menyukai pop.

Kelompokkan tabel `spr_general` berdasarkan genre dan temukan jumlah lagu yang dimainkan untuk setiap genre dengan metode `count()`. Kemudian urutkan hasilnya dalam urutan menurun dan simpan ke spr_genres.

In [ ]:
# pada satu baris: kelompokkan tabel spr_general berdasarkan kolom 'genre',
# hitung nilai 'genre' dengan count() dalam pengelompokan,
# urutkan Series yang dihasilkan dalam urutan menurun, lalu simpan ke spr_genres

spr_general = df.loc[(df['city']=='Springfield')]
spr_genres = spr_general.groupby('genre').count()
spr_genres = spr_genres.sort_values(by='user_id', ascending=False)['user_id']

In [ ]:
# menampilkan 10 baris pertama dari spr_genres
spr_genres.head(10)

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: user_id, dtype: int64

In [ ]:
# pada satu baris: kelompokkan tabel shel_general menurut kolom 'genre',
# hitung nilai 'genre' dalam pengelompokan menggunakan count(),
# urutkan Series yang dihasilkan dalam urutan menurun dan simpan ke shel_genres

shel_general = df.loc[(df['city']=='Shelbyville')]
shel_genres = shel_general.groupby('genre').count()
shel_genres = shel_genres.sort_values(by='user_id', ascending=False)['user_id']

In [ ]:
# menampilkan 10 baris pertama dari shel_genres
shel_genres.head(10)

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: user_id, dtype: int64

**Kesimpulan**

Hipotesis terbukti benar sebagian:
1. Musik pop adalah genre paling populer di Springfield, seperti yang diharapkan.
2. Namun, musik pop ternyata sama populernya baik di Springfield maupun di Shelbyville, dan musik rap tidak berada di 5 besar untuk kedua kota tersebut.

# Temuan

Kita telah menguji tiga hipotesis berikut:
1.	Aktivitas pengguna berbeda-beda tergantung pada hari dan kotanya.
2.	Pada senin pagi, penduduk Springfield dan Shelbyville mendengarkan genre yang berbeda. Hal ini juga ini juga berlaku untuk Jumat malam.
3.	Pendengar di Springfield dan Shelbyville memiliki preferensi yang berbeda. Baik Springfield maupun di Shelbyville, mereka lebih suka musik pop.
Setelah menganalisis data, kita dapat menyimpulkan:
1.	Aktivitas pengguna di Springfield dan Shelbyville bergantung pada harinya, walaupun kotanya berbeda.
Hipotesis pertama dapat diterima sepenuhnya.
2.	Preferensi musik tidak terlalu berbeda selama seminggu di Springfield dan Shelbyville. Kita dapat melihat perbedaan kecil dalam urutan pada hari Senin, tetapi:
•	Baik di Springfield maupun di Shelbyville, orang paling banyak mendengarkan musik pop.
Jadi hipotesis ini tidak dapat kita terima. Kita juga harus ingat bahwa hasilnya bisa berbeda jika bukan karena nilai yang hilang.
3.	Ternyata preferensi musik pengguna dari Springfield dan Shelbyville sangat mirip.
Hipotesis ketiga ditolak. Jika ada perbedaan preferensi, tidak dapat dilihat dari data ini.